{% extends 'base.html.twig.' %}
{% block body %}
    <div class="site-blocks-cover" id="home-section">
        <div class="img-wrap">
            <div class="owl-carousel slide-one-item hero-slider">
                <div class="slide overlay">
                    <img class="img-fluid" src="images/hero_1.jpg" alt="Image">
                </div>
                <div class="slide overlay">
                    <img src="images/hero_2.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="slide overlay">
                    <img src="images/hero_3.jpg" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 align-self-center">
                    <div class="intro">
                        <div class="heading">
                            <h1>Blue Dev'</h1>
                        </div>
                        <div class="text">
                            <p class="sub-text mb-5">Studio de développeurs associé, spécialisé dans le référencement
                                et la mise en valeur de votre boutique.</p>
                            <p><a href="#contact-section"  class="btn btn-primary btn-md">Commencer
                                    un projet</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END .site-blocks-cover -->
        <div class="site-section" id="about-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-5">
                    <img src="images/3personnes.jpg" alt="Image" class="img-fluid" class="img-fluid">
                </div>
                <div class="col-lg-5 ml-auto section-title">
                    <span class="sub-title mb-2 d-block">À propos de nous</span>
                    <h2 class="title text-primary mb-3">Trois développeurs <img src="images/icones/3peoples.png"
                                                                                alt="Image"></h2>
                    <p class="mb-4">Notre équipe complémentaire de 3 passionnés est prête à vous accompagner dans vos
                        différents projets web.
                    <p>Réactifs et souples dans les projets et les échanges, nous cherchons le meilleur résultat pour
                        vous comme pour l’utilisateur final.</p>
                    <p class="mb-4">À nous trois nous pouvons couvrir l'ensemble de votre projet, rebooster votre
                        visibilité sur Internet, et ainsi permettre de vous faire connaitre davantage.</p>
                    <div class="d-flex">
                        <ul class="list-unstyled ul-check success mr-5">
                            <li>Design</li>
                            <li>Developement</li>
                            <li>Photos</li>
                            <li>Référencement Naturel / SEO</li>
                            <li>Vue 3D du magasin</li>
                            <li>Vue 3D avec Google Maps</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .END site-section -->
    {#    start global modal#}
    {#    modal web design#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modalone">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Web design</h1>
                                <a class="btn btn-default" data-dismiss="modal">X</a>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, laudantium suscipit. Animi aperiam fugiat hic inventore ipsum maiores minus nihil nostrum omnis placeat quos ratione repellendus sapiente vel, veritatis! A ab accusamus aperiam aspernatur consequuntur delectus eius, error et facere id inventore iste itaque maxime minima modi mollitia nesciunt non odio officiis perspiciatis porro recusandae sapiente sit temporibus ullam! Dolor facere, labore molestias non odit quo sequi. Excepturi exercitationem illum itaque pariatur, perferendis repellat sit soluta vero! Adipisci, est excepturi? Assumenda commodi consectetur dicta ea error iusto labore minima praesentium quaerat quam quia recusandae, repellat rerum tempora tenetur veritatis, voluptatem! Ab accusantium, aperiam autem, beatae cum cumque cupiditate doloribus enim eveniet expedita harum id incidunt ipsa iure iusto laborum maiores minus molestiae nemo, nisi numquam officiis perferendis quasi quisquam quod rerum saepe sequi similique soluta suscipit temporibus ut voluptate voluptatibus? Adipisci animi architecto aut culpa cum cupiditate doloribus eveniet exercitationem explicabo impedit ipsum iure molestias nobis officiis provident ullam, vel? A aspernatur, assumenda debitis dolor doloribus eaque earum eveniet explicabo harum impedit ipsam ipsum laudantium minima natus, quas rem reprehenderit repudiandae sunt? Accusamus adipisci asperiores, consequuntur eligendi eos
                                error ipsam minus nulla odit porro quae quas, quis, ratione recusandae rem sapiente sequi sit tempora ullam unde? A accusamus aperiam asperiores assumenda at autem delectus ducimus error esse est explicabo hic id impedit ipsa itaque labore nesciunt nihil nulla, officia perferendis quaerat quo quod repudiandae sapiente similique sunt unde? Aliquid delectus deserunt eum magnam natus perspiciatis recusandae sapiente, sunt vel voluptate.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#modal web developement#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modaltwo">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Web developement</h1>
                                <a class="btn btn-default" data-dismiss="modal">X</a>
                            </div>
                            <div class="modal-body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, aperiam cum delectus dicta doloremque ducimus eligendi exercitationem explicabo facere in ipsa ipsam iusto magnam molestias neque non nostrum nulla numquam perferendis possimus qui reiciendis repellendus rerum sequi. Atque culpa cupiditate, dolor dolores esse harum id quas repudiandae. Alias corporis culpa cum deserunt dolor ex, fugiat hic iure laudantium minus nobis nostrum odio officia omnis optio possimus quisquam quo ratione sequi, soluta temporibus, ullam vero voluptatum! Ab dolor, fuga fugit, incidunt necessitatibus neque nostrum quod totam ut vel velit veritatis vitae! Asperiores at atque beatae consectetur cupiditate ducimus, eos est explicabo laudantium magni modi mollitia, numquam officia officiis perspiciatis possimus quisquam reprehenderit sed tenetur vitae voluptates, voluptatibus voluptatum! Amet animi architecto at atque aut commodi consequatur corporis culpa cum dignissimos dolorum eius eligendi enim, esse fugiat in iste laudantium mollitia necessitatibus, nesciunt nostrum numquam odit omnis optio porro possimus provident quasi recusandae rem repudiandae saepe sint tempora ullam ut veritatis voluptas voluptatibus. Ad doloremque, fugit nemo quae repellendus rerum saepe tempora vero? Ab animi architecto at atque blanditiis consectetur corporis cumque dolorum esse et laborum laudantium minus modi mollitia natus pariatur quam quas quia saepe sit ullam ut, voluptas. Temporibus.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#modal photo#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modalthree">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Photo</h1>
                                <a class="btn btn-default" data-dismiss="modal">X</a>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquid amet architecto assumenda atque autem blanditiis consequatur consequuntur cumque deserunt dignissimos distinctio dolore doloremque doloribus enim eos et eum excepturi expedita, illo labore laudantium maiores minima natus nesciunt nihil numquam optio pariatur placeat provident quas quia rerum sit tempore temporibus ullam? Ab accusamus adipisci aliquam architecto, at consectetur culpa enim, eum eveniet minima molestias odit optio qui reprehenderit sapiente, similique sit ullam unde! Ex fugiat iste optio quas soluta! Optio, similique voluptates! Accusamus deserunt, dolor eligendi eos et fugit in, ipsum magni minus molestiae obcaecati odit quae quasi qui reprehenderit temporibus voluptas voluptatem? Beatae deserunt eum perferendis repudiandae! Aspernatur autem consequatur deleniti deserunt distinctio ducimus enim eveniet facere harum impedit labore natus quod quos ratione sed, suscipit unde voluptatum. Aliquid architecto asperiores at atque consequuntur dolorum eaque esse ex fuga id, incidunt iste itaque laboriosam laborum libero, maiores maxime minus nisi quaerat, ratione reiciendis saepe unde voluptates. Ab, aliquam consequuntur cumque dolor doloribus ducimus error est libero nisi odit, praesentium quaerat quia quibusdam quis quos saepe sapiente similique voluptates. Ad adipisci alias aperiam blanditiis eaque fugit in itaque labore laborum maxime pariatur provident, suscipit tempora temporibus unde. A, maiores.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#modal smartphone#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modalfour">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Smartphone</h1>
                                <a class="btn btn-default" data-dismiss="modal">X</a>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores deserunt expedita molestias quibusdam tempora? Aliquid animi culpa delectus, dolore dolores dolorum eum exercitationem fugit impedit, molestiae natus quam quas reprehenderit temporibus voluptatem. Adipisci, commodi corporis, doloribus incidunt ipsum magnam mollitia nam natus necessitatibus nemo neque officia perferendis provident quasi temporibus veritatis voluptate. Amet cumque eaque sunt. Assumenda nam officiis quae. Atque earum error molestiae natus nobis quas quod vel veritatis. A accusantium animi, consequuntur labore laborum omnis sapiente soluta vero voluptate voluptatem! Corporis ducimus eius inventore ipsa iusto, laboriosam minus modi nostrum odio omnis, placeat quisquam quod sit ullam velit? Accusamus animi cumque cupiditate eos error, eum eveniet expedita illum itaque magnam modi nesciunt nobis nostrum obcaecati officiis quia, quibusdam, reiciendis rem repellat reprehenderit rerum sunt tempora vero voluptates voluptatibus. Debitis distinctio error explicabo laborum molestias perferendis rerum sint tenetur? Adipisci aliquid aspernatur assumenda beatae, culpa dolore doloremque esse explicabo facere facilis illo ipsa maxime neque nesciunt nobis nostrum, obcaecati odit quasi rem soluta? A amet assumenda blanditiis deleniti exercitationem in mollitia necessitatibus nemo nisi officiis quas quos sed sequi, sit tempora tenetur totam. Doloremque error nihil optio, quo tempore velit! Consequatur ducimus facilis minima omnis quia quisquam repellendus voluptate.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#modal Rédactions#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modalfive">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Rédactions</h1>
                                <a class="btn btn-default" data-dismiss="modal">X</a>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deleniti exercitationem facilis laboriosam perspiciatis reprehenderit, soluta tempora? Cupiditate deserunt, dolorem expedita illo incidunt molestiae quam! Architecto asperiores atque aut deleniti dolorem eius eligendi eum eveniet excepturi harum, illum ipsam ipsum itaque maiores minus modi molestias nobis numquam placeat quis recusandae sint veritatis, voluptas? Accusamus accusantium autem blanditiis commodi consequatur debitis deleniti deserunt dolorum eum hic illo ipsam maiores molestias mollitia natus, nisi perferendis quaerat quidem quo, rem repudiandae sequi veritatis voluptates. Amet eaque earum, eligendi fugiat itaque officia quas quo? Ab aliquid, atque consectetur, corporis culpa cum ea eaque earum eos error eveniet explicabo facere hic ipsa iure libero magni molestias natus nemo neque nihil odit officiis omnis porro qui quia quo rem similique sunt tenetur! Aliquam culpa, dolor ex id optio placeat porro quos recusandae sapiente sunt vel vero? Autem dicta est illum quidem reprehenderit veniam vitae voluptates voluptatum. A animi asperiores atque beatae blanditiis cupiditate dolorem ducimus earum eius eum, exercitationem fugit id illo in iusto laboriosam libero maxime minima molestiae molestias nam neque nesciunt nisi nulla obcaecati, officia officiis perspiciatis placeat possimus quo reiciendis saepe sint sit suscipit tempore velit voluptatibus? Ab aspernatur beatae enim magnam neque.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#modal SEO#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal fade" id="modalsix">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>SEO</h1>
                                <a class="btn btn-default" data-dismiss="modal">X</a>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum earum est laboriosam quas. At atque, consectetur eos, esse itaque labore maiores molestias nobis non obcaecati placeat porro quidem rem sit tempore ut voluptatem? Distinctio eligendi, hic magnam officiis perferendis quo reiciendis? Ab corporis, cumque cupiditate debitis delectus distinctio dolor enim error est facilis impedit inventore iure laudantium libero maiores nemo officiis omnis praesentium provident quaerat quas quos repellendus similique soluta suscipit vitae voluptatem! Alias consequatur cupiditate distinctio dolorem dolorum error illo ipsa iure maxime odit omnis possimus, qui quia repellat reprehenderit sapiente voluptate, voluptates voluptatibus. Aperiam architecto asperiores at consectetur debitis dicta distinctio doloribus eius eligendi error eum facere fuga harum illum ipsum nihil porro qui quibusdam, quidem ratione, repellendus reprehenderit repudiandae sed unde ut veniam voluptates. A accusamus aliquid architecto beatae commodi cumque cupiditate debitis dolore ea est eum, facilis harum ipsa ipsam iure labore maiores minima minus modi molestias nostrum obcaecati odit optio perferendis quasi quis quod ratione sed sit sunt tempora temporibus totam voluptatem? A atque autem consectetur corporis cum dolor ducimus eligendi, ex hic inventore ipsa itaque libero maiores nihil officiis placeat possimus quidem quis ratione rem repellendus rerum sed sint sit ullam vel voluptates voluptatum?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#end global modal#}
    <div class="site-section bg-light" id="what-we-do-section">
        <div class="container content">
            <div class="row mb-5">
                <div class="col-lg-6 section-title">
                    <span class="sub-title mb-2 d-block">Alors ? </span>
                    <h2 class="title text-primary">Plus en détail, que peut-on vous offrir ?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 ml-auto">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                            <div class="service h-100">
                                <span class="icon-photo_album display-4 text-primary d-block mb-4"></span>
                                <h3>Web Design</h3>
                                <p>Un site web, moderne et selon vous goûts, nous établirons ensemble une charte
                                    graphique, qui correspond au mieux à votre activité. </p>
                                <p><a href="#" class="readmore" data-toggle="modal" data-target="#modalone">En savoir
                                        plus</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                            <div class="service h-100">
                                <span class="icon-laptop_mac display-4 text-primary d-block mb-4"></span>
                                <h3>Web Development</h3>
                                <p>Nous allons vous apporter un site sécurisé aux normes de 2019, développé en PHP et
                                    Symfony, qui sera modifiable par la suite grâce à son architecture durable. </p>
                                <p><a href="#" class="readmore" data-toggle="modal" data-target="#modaltwo">En savoir
                                        plus</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                            <div class="service h-100">
                                <span class="icon-layers display-4 text-primary d-block mb-4"></span>
                                <h3>Photos</h3>
                                <p>Ne vous embêtez pas à nous fournir les images, nous pourrons venir les réaliser pour
                                    vous et les importer sur votre page web, ainsi vous obtiendrez un site unique.</p>
                                <p><a href="#" class="readmore" data-toggle="modal" data-target="#modalthree">En savoir
                                        plus</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                            <div class="service h-100">
                                <span class="icon-mobile display-4 text-primary d-block mb-4"></span>
                                <h3>Adapté pour les smartphones </h3>
                                <p>Nos sites web, sont "responsifs" c'est-à-dire, que le design est pensé pour être
                                    aussi bien lu sur mobile que sur ordinateur ou tablette.</p>
                                <p><a href="#" class="readmore" data-toggle="modal" data-target="#modalfour">En savoir
                                        plus</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                            <div class="service h-100">
                                <span class="icon-pencil display-4 text-primary d-block mb-4"></span>
                                <h3>Rédactions</h3>
                                <p>Nous pouvons rédiger vos textes, pour mettre en valeur votre activité. Grâce aux compétences
                                    d'un de nos rédacteurs.</p>
                                <p><a href="#" class="readmore" data-toggle="modal" data-target="#modalfive">En savoir
                                        plus</a></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                            <div class="service h-100">
                                <span class="icon-search2 display-4 text-primary d-block mb-4"></span>
                                <h3>"Search Engine Optimization" </h3>
                                <p>Autrement appeler SEO, nous mettons tout en oeuvre pour que google référence votre
                                    site web, ainsi lorsque l'utilisateur tape certains mots-clefs, votre site arrive en première page</p>
                                <p><a href="#" class="readmore" data-toggle="modal" data-target="#modalsix">En savoir
                                        plus</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- END .site-section -->
    <div class="site-section bg-light" id="testimonials">
        <div class="container">
            <div class="row mb-5 ">
                <div class="col-md-7 section-title text-center mx-auto">
                    <span class="sub-title mb-2 d-block">témoignages</span>
                    <h2 class="title text-primary mb-3">Les avis de nos clients</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <blockquote class="blockquote">
                        <p>Merci à BlueDev' qui a su être à l'écoute de mes demandes et qui reste encore disponible au quotidien pour actualiser mon site selon mes besoins. Ils sont très professionnels et je recommande vivement.</p>
                        <p class="mb-0 d-flex align-items-center">
                            <cite>&mdash; Ludivine</cite>
                        </p>
                    </blockquote>
                </div>
                <div class="col-lg-6 mb-4">
                    <blockquote class="blockquote">
                        <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Laboriosam excepturi quod dolore commodi.</p>
                        <p class="mb-0 d-flex align-items-center">
                            <cite>&mdash; John Doe</cite>
                        </p>
                    </blockquote>
                </div>
                <div class="col-lg-6 mb-4">
                    <blockquote class="blockquote">
                        <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Laboriosam excepturi quod
                            dolore commodi.</p>
                        <p class="mb-0 d-flex align-items-center">
                            <cite>&mdash; John Doe</cite>
                        </p>
                    </blockquote>
                </div>
                <div class="col-lg-6 mb-4">
                    <blockquote class="blockquote">
                        <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Laboriosam excepturi quod
                            dolore commodi.</p>
                        <p class="mb-0 d-flex align-items-center">
                            <cite>&mdash; John Doe</cite>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section" id="contact-section">
        <div class="container">
            <div class="section-title text-center mb-5">
                <span class="sub-title mb-2 d-block">Parlez-moi de votre projet</span>
                <h2 class="title text-primary">Formulaire de contact</h2>
            </div>
            {{ form_start(formContact) }}
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {{ form_row(formContact.nom) }}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form_row(formContact.societe) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {{ form_row(formContact.email) }}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form_row(formContact.numero) }}
                </div>
            </div>
            <div class="row message ">
                <div class="col-12  form-size">
                    {{ form_row(formContact.message) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    {{ form_row(formContact.document) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <button type="submit" class="btn btn-primary btn-md">Envoyer le message</button>
                </div>
            </div>
        </div>
        {{ form_end(formContact) }}
    </div>
    <!--END .site-section -->
    <footer class="site-footer">
        <div class="container">
            <div class="row  text-center">
                <div class="col-md-12">
                    <div class="mb-4">
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>
                    <p>
                        <a target="_blank" href="https://icones8.fr/icons/set/conference-call">Conférence
                            téléphonique</a> icon by <a target="_blank" href="https://icones8.fr">Icons8</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made
                        with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                   target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
        <a href="http://localhost/bluedev/public/admin" class="nav-link">Back office</a></li>
        <a href="http://localhost/bluedev/public/login" class="nav-link">Login</a></li>
        <a href="http://localhost/bluedev/public/inscription" class="nav-link">Inscription</a></li>
    </footer>






{% endblock %}
